@import './config/config';

body, html {
  font-size: $font-base;
  font-family: $paragraph;
  font-weight: 400;
}

.main {
  color: theme('main-text');
  background-color: theme('main-bg');

  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 100rem;

  margin: auto;
  padding: $space-lg 0;
}

.heading {
  font-family: $heading;
  line-height: 1.125;
}

.text-xs {
  font-size: $font-xs;
}
.text-sm {
  font-size: $font-sm;
}
.text-md {
  font-size: $font-md;
}
.text-lg {
  font-size: $font-lg;
}
.text-xl {
  font-size: $font-xl;
}
.text-2xl {
  font-size: $font-2xl;
}

.text-lg,
.text-xl,
.text-2xl {
  padding: 2rem;
}

.primary {
  color: theme('text-primary');
}

.link {
  text-decoration: none;
  text-transform: capitalize;

  color: theme('main-text');

  margin: auto;

  animation: 1s appear;
  transition: color 0.35s ease-out;

  &:hover {
    color: $highlight;
  }
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.35s ease-out;
}

.gradient-btn {
  color: theme('text-light');
  background: $gradient;
  background-size: 100%;
  background-repeat: repeat;

  border: 2px solid transparent;
  outline: none;

  &:hover {
    border-color: currentColor;
  }
}
