@import './config/config';

body, html {
  font-size: $base + px;
  font-family: $paragraph;
  font-weight: 400;
}

.main {
  color: theme('main-text');
  background-color: theme('main-bg');

  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 100rem;

  margin: auto;
  padding: 0 $space-md;
}

.content {
  margin: $content-spacing-lg 0;
  padding-bottom: $content-spacing-lg;
  height: 100%;

  & > * + * {
    padding: $content-itm-spacing-sm;
  }

  // @include screen-lg {
  //   padding: $content-spacing-lg-y $content-spacing-lg-x;

  //   & > * + * {
  //     padding: $content-itm-spacing-lg;
  //   }
  // }
}

.heading {
  font-family: $heading;
  line-height: 1.125;
  letter-spacing: -2px;
}

.text-xs {
  font-size: $font-xs;
}
.text-sm {
  font-size: $font-sm;
}
.text-md {
  font-size: $font-md;
}
.text-lg {
  font-size: $font-lg;
}
.text-xl {
  font-size: $font-xl;
}
.text-2xl {
  font-size: $font-2xl;
}

.text-lg,
.text-xl,
.text-2xl {
  padding: 2rem;
}

.primary {
  color: theme('punch');
}

.link {
  position: relative;

  text-decoration: none;
  text-transform: capitalize;

  color: theme('main-text');

  margin: auto;

  animation: 1s appear;
  transition: color 0.35s ease-out;

  &:hover {
    color: theme('accent');
  }

  &.nuxt-link-exact-active {
    color: theme('accent');

    &::before {
      content: '';
      position: absolute;
      top: 1.25rem;

      width: 100%;
      height: (3 / $base) + rem;

      color: inherit;
      background-color: currentColor;

      border-radius: 30px;
    }
  }
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.35s ease-out;
}

.gradient-btn {
  color: theme('text-light');
  background: $gradient;
  background-size: 100%;
  background-repeat: repeat;

  border: 2px solid transparent;
  outline: none;

  &:hover {
    border-color: currentColor;
  }
}
