/* Small (640px) */
$screen-sm: 40em;

/* Medium (768px) */
$screen-md: 48em;

/* Large (1024px) */
$screen-lg: 64em;

/* Extra Large (1280px) */
$screen-xl: 80em;

/* Two Extra Large (1536px) */
$screen-xxl: 96em;

