@import './resets';
@import './mixins';
@import './animations';
@import './functions';

// COLORS
$primary: #ffdc00;
$secondary: #00a3ff;
$highlight: #44bcff;
$white: #ffffff;
$gray: #505050;
$dark-gray: #161616;
$black: #020202;
$gradient: linear-gradient(135deg, #00a3ff, #5c00ff);

// Types
$paragraph: 'Cabin', sans-serif;
$heading: 'Playfair Display', serif;

// Type Scale
$font-base: 16px;
$font-xs: 0.8125rem; // 13px
$font-sm: 1rem; // 16px
$font-md: 1.5rem; // 24px
$font-lg: 3.75rem; // 60px
$font-xl: 4.6rem; // 75px
$font-2xl: 7.5rem; // 120px

// Spacing Scale
$space-xs: 0.625rem; // 10px
$space-sm: 0.9375rem; // 15px
$space-md: 1.25rem; // 20px
$space-lg: 5rem; // 80px

// Scale
$nav-scale-sm: 5rem; // 80px
$nav-scale-lg: 7.5rem; // 120px

$theme: (
  'main-bg': $black,
  'main-text': $white,
  'light-bg': $white,
  'dark-bg': $dark-gray,
  'pop-bg': $primary,
  'text-primary': $primary,
  'text-secondary': $secondary,
  'text-dark': $dark-gray,
  'text-light': $white,
  'text-mid': $gray,

);
