@import './resets';
@import './mixins';
@import './animations';
@import './functions';

// COLORS
$primary: #d499b9;
$secondary: #9fffcb;
$highlight: #3f88c5;
$white: #ffffff;
$gray: #40394a;
$dark-gray: #22181c;
$black: #020202;
$dark-gradient: linear-gradient(135deg, $dark-gray, $black);
$pop-gradient: linear-gradient(135deg, $secondary, $highlight);

// Shadows
$tight-shadow:
  0 1.7px 3.3px rgba(0, 0, 0, 0.02),
  0 5.6px 11.2px rgba(0, 0, 0, 0.03),
  0 25px 50px rgba(0, 0, 0, 0.05)
;


$light-border: 2px solid lighten($color: $dark-gray, $amount: 5);

// Types
$paragraph: 'Andika New Basic', serif;
$heading: 'Playfair Display', sans-serif;
$display: 'Henny Penny', sans-serif;

// Type Scale
$base: 16; //16px
$font-xs: 0.8125rem; // 13px
$font-sm: 1rem; // 16px
$font-md: 1.25rem; // 20px
$font-lg: 3.75rem; // 60px
$font-xl: 4.6rem; // 75px
$font-2xl: 7.5rem; // 120px


// Spacing Scale
$space-xs: 0.625rem; // 10px
$space-sm: 0.9375rem; // 15px
$space-md: 1.25rem; // 20px
$space-lg: 5rem; // 80px
$space-xl: 10rem; // 160px

// Content spacing
$content-spacing-lg: 200px;
$content-spacing-md: 70px;
$content-spacing-sm: 20px;
$content-itm-spacing-lg: 140px 0;
$content-itm-spacing-sm: 100px 0;

// Scale
$nav-scale-sm: 5rem; // 80px
$nav-scale-lg: 7.5rem; // 120px

$theme: (
  'main-bg': $black,
  'main-text': $white,
  'light-bg': $white,
  'dark-bg': $dark-gray,
  'kobi': $primary,
  'candy': $secondary,
  'accent': $highlight,
  'text-dark': $dark-gray,
  'text-light': $white,
  'text-mid': $gray,
  'night': $dark-gradient,
  'sky': $pop-gradient
);
