@import './breakpoints';

@mixin screen-md {
  @media screen and (min-width: #{$screen-md}) {
    .wrapper,
    .nav-wrapper {
      width: 43rem; // 688px
      margin: auto;
    }
    @content
  }
};

@mixin screen-lg {
  @media screen and (min-width: #{$screen-lg}) {
    @content
  }
};

@mixin grid($column, $row, $gap) {
  display: grid;
  grid-template-columns: $column;
  grid-template-rows: $row;
  gap: $gap;
  align-items: center;
};

@mixin grid-cols-2($column) {
  display: grid;
  grid-template-columns: repeat(2, $column);
  align-items: center;
};

@mixin grid-rows-2($row) {
  display: grid;
  grid-template-rows: repeat(2, $row);
  align-items: center;
};

@mixin flex($flow, $justify) {
  display: flex;
  flex-flow: $flow wrap;
  justify-content: $justify;
  align-items: center;
  gap: 0.85rem;
};

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
