@import './breakpoints';

@mixin mobile {
  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    .wrapper {
      width: 100%;
      max-width: 480px;
    }

    @content
  }
};
@mixin tablet {
  @media screen and (min-width: $mobile-max + 1) and (max-width: $tablet-max) {
    .wrapper {
      width: 100%;
      max-width: 728px;
    }
    @content
  }
};
@mixin sm-screen {
  @media screen and (min-width: $tablet-max + 1) and (max-width: $sm-max) {
    .wrapper {
      width: 944px;
    }
    @content
  }
};
@mixin lg-screen {
  @media screen and (min-width: $sm-max + 1) and (max-width: $lg-max) {
    .wrapper {
      width: 1120px;
    }
    @content
  }
};
@mixin xl-screen {
  @media screen and (min-width: $lg-max + 1) {
    .wrapper {
      width: 100%;
      max-width: 1200px;
    }
    @content
  }
};

@mixin grid($column, $row, $gap) {
  display: grid;
  grid-template-columns: $column;
  grid-template-rows: $row;
  gap: $gap;
  align-items: center;
};

@mixin grid-c-2($column) {
  display: grid;
  grid-template-columns: repeat(2, $column);
  align-items: center;
};

@mixin grid-r-2($row) {
  display: grid;
  grid-template-rows: repeat(2, $row);
  align-items: center;
};

@mixin grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.85rem;
}


@mixin flex($flow, $justify) {
  display: flex;
  flex-flow: $flow wrap;
  justify-content: $justify;
  align-items: center;
  gap: 0.85rem;
};

@mixin center {
  display: grid;
  place-content: center;
}
